@import './variables.scss';
$--color-primary: $purple;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-width: 1024px;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f7f7;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

body > .el-menu--horizontal {
  .el-menu {
    background-color: #fff !important;
    .el-menu-item {
      height: 50px !important;
      line-height: 50px !important;
      margin: 0 20px !important;
      &.is-active {
        color: #909399 !important;
      }
    }
  }
}
.el-main {
  padding: 0 10px;
}
// 修改日期组件样式
.el-picker-panel {
  border: none;
  &.el-popper {
    &[x-placement^='bottom'] {
      .popper__arrow {
        &:after {
          border-bottom-color: #47086c !important;
        }
      }
    }
  }
  .el-picker-panel__body-wrapper {
    .el-picker-panel__body {
      .el-date-picker__header {
        margin: 0;
        border-radius: 10px 10px 0px 0px;
        padding: 5px 10px;
        background-color: #47086c;
        .el-picker-panel__icon-btn {
          color: white;
        }
        .el-date-picker__header-label {
          color: white;
        }
      }
      .el-picker-panel__content {
        border-radius: 10px;
        padding: 0;
        .el-date-table {
          border-radius: 0px 0px 10px 10px;
          .el-date-table__row {
            td {
              &.available {
                &:first-child,
                &:last-child {
                  color: #e5ad40;
                }
              }
            }
          }
        }
        .el-date-range-picker__header {
          border-radius: 10px 10px 0px 0px;
          padding: 5px 10px;
          background-color: #47086c;
          .el-picker-panel__icon-btn {
            color: white;
          }
          & > div {
            color: white;
          }
        }
      }
    }
  }
}
// 协议内容格式
.protocol-content {
  color: #333333;
  line-height: 30px;
  font-family: 'Microsoft YaHei';
  h1,
  h2,
  h3,
  p {
    font-size: 14px;
    margin: 0;
  }
  .small {
    font-size: 12px;
  }
  .indent {
    text-indent: 2em;
  }
  .all-indent {
    margin-left: 2em;
  }
}
// 圆形的checkbox样式
.el-checkbox.circle-checkbox {
  &.is-checked {
  }
  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        &:after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .el-checkbox__inner {
      width: 20px;
      height: 20px;
      border: 2px solid white;
      border-radius: 100%;
      background-color: transparent;
      &:after {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: white;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.15s ease-in;
      }
    }
  }
  .el-checkbox__label {
    color: white;
  }
}
// 带横线的title
.line-title {
  text-align: center;
  font-size: 16px;
  color: $white;
  position: relative;
  &::before {
    content: '';
    width: 40%;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 8px;
  }
  &::after {
    content: '';
    width: 40%;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 0;
  }
}
#app {
  // 登录、注册、忘记密码页面的样式
  height: 100vh;
  .login-wrap {
    padding: 20px;
    // height: 100%;
    height: 100vh;
    .login-container {
      // height: 100%;
      height: calc(100vh - 40px);
      overflow-y: auto;
      border-radius: 20px;
      background: url('../assets/images/bg.jpg') no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      .login-box {
        position: relative;
        width: 420px;
        margin-top: 240px;
        .login-logo {
          width: 238px;
          height: 100px;
          display: block;
          margin-left: 91px;
          margin-bottom: 50px;
        }
        .piccode {
          width: 110px;
          height: 48px;
          position: absolute;
          top: 0px;
          right: 2px;
        }
        .smscode-btn {
          background-color: transparent;
          margin-left: 10px;
          border: 1px solid #dcdfe6;
          width: 110px;
          height: 48px;
          font-size: 16px;
          span {
            color: $white;
          }
        }
        .el-form {
          .el-form-item {
            margin-bottom: 0px;
            &.left-pull {
              .el-form-item__content {
                .el-form-item__error {
                  font-size: 16px;
                  top: 15px;
                  right: 156px;
                  left: unset;
                }
              }
            }
            .el-form-item__content {
              .el-form-item__error {
                font-size: 16px;
                z-index: 0;
                top: 15px;
                right: 31px;
                left: unset;
              }
            }
          }
        }
        .only-one-tab.el-tabs.el-tabs--top {
          .el-tabs__header.is-top {
            .el-tabs__nav-wrap.is-top {
              .el-tabs__nav-scroll {
                .el-tabs__nav.is-top {
                  .el-tabs__active-bar {
                    display: none;
                  }
                  .el-tabs__item {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
        .el-tabs.el-tabs--top {
          .el-tabs__header.is-top {
            margin-bottom: 30px;
            .el-tabs__nav-wrap.is-top {
              text-align: center;
              .el-tabs__nav-scroll {
                display: inline-block;
              }
              &:after {
                height: 0px;
              }
              .el-tabs__active-bar.is-top {
                width: 80px !important;
                height: 2px;
                background-color: $white;
              }
              .el-tabs__item {
                padding: 0;
                color: #c4c4c5;
                font-size: 16px;
                &:nth-child(2) {
                  padding-left: 8px;
                  padding-right: 52px;
                }
                &:nth-child(3) {
                  padding-left: 20px;
                }
                &.is-top {
                  &.is-active {
                    color: $white;
                  }
                }
              }
            }
          }
        }
        .el-input {
          z-index: 1;
          width: 420px;
          margin-bottom: 20px;
          border: $white;
          .el-input-group__prepend {
            padding: 0 12px;
            color: $white;
            background-color: transparent;
            font-size: 12px;
          }
          .el-input__inner {
            height: 48px;
            color: $white;
            background: transparent;
            font-size: 16px;
            padding: 0 12px;
            &:focus {
              border-color: #dcdfe6;
            }
            &::placeholder {
              color: $white;
            }
          }
          .el-input__prefix {
          }
        }
        .link-right {
          color: $white;
          float: right;
          font-size: 14px;
          text-decoration: none;
        }
        .btn-bar {
          margin-top: 40px;
          .login-btn {
            border: none;
            // color: $white;
            background-color: rgba(172, 65, 235, 0.8);
            width: 420px;
            height: 48px;
            font-size: 16px;
            &:hover {
              background-color: rgba(172, 65, 235, 1);
            }
          }
        }
        .bottom-register {
          margin-top: 30px;
          text-align: center;
          font-size: 16px;
          color: $white;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .bottom-line {
          margin-top: 30px;
          text-align: center;
          font-size: 16px;
          color: $white;
          position: relative;
          &::before {
            content: '';
            width: 90px;
            height: 1px;
            background-color: #fff;
            display: block;
            position: absolute;
            bottom: 8px;
          }
          &::after {
            content: '';
            width: 90px;
            height: 1px;
            background-color: #fff;
            display: block;
            position: absolute;
            bottom: 8px;
            right: 0;
          }
        }
        .bottom-other {
          margin-top: 30px;
          text-align: center;
          a {
            text-decoration: underline;
            padding: 0 30px;
            display: inline-block;
            &:first-of-type {
              // margin-right: 80px;
            }
            img {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
      @media screen and (max-height: 980px) {
        .login-box {
          margin-top: 16vh;
        }
      }
    }
  }
  // 面包屑导航条样式
  .el-breadcrumb {
    margin-top: 20px;
    .el-breadcrumb__item {
      .el-breadcrumb__inner {
        color: #999;
        font-size: 14px;
      }
      .el-breadcrumb__separator {
        margin: 0;
        font-size: 14px;
      }
    }
  }
  // 菜单样式
  .el-menu--horizontal > .el-menu-item,
  .el-menu--horizontal > .el-submenu .el-submenu__title {
    height: 80px;
    line-height: 80px;
    color: rgba(19, 32, 67, 1);
    font-size: 16px;
  }
  .el-menu.el-menu--horizontal {
    border: none;
  }
  .el-container {
    height: 100vh;
  }
  // 表格上方的按钮栏
  .table-btn-bar {
    text-align: right;
  }
  // 提示说明文本样式
  .tip-text {
    margin: 0px;
    font-size: 14px;
    color: #a2a5ac;
  }
  // 弹出窗口的样式
  .yto-dialog {
    .el-dialog {
      text-align: center;
      width: 600px;
      .el-dialog__header {
        line-height: 50px;
        height: 50px;
        padding: 0;
        border-bottom: 1px solid #ebeef5;
        .el-dialog__title {
          font-size: 18px;
          color: #333;
        }
      }
      .el-dialog__body {
        .el-form {
          .el-form-item {
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
      .el-dialog__footer {
        padding-top: 0px;
        .dialog-footer {
          padding-top: 0px;
          text-align: center;
        }
      }
      .picture-sms-code {
        vertical-align: middle;
        width: 100px;
        height: 32px;
        margin-left: 8px;
      }
      .sms-code-btn {
        width: 100px;
        height: 32px;
        margin-left: 8px;
      }
      .tip-dialog {
        .success-icon {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 64px;
          height: 64px;
          background-color: #704bfe;
          border-radius: 50%;
          &:after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 64px;
            height: 64px;
            background-color: #704bfe;
            border-radius: 50%;
            transform: translateX(64px);
            -webkit-animation: mysuccess 1s;
            -o-animation: mysuccess 1s;
            animation: mysuccess 1s;
          }
          @keyframes mysuccess {
            from {
              transform: translateX(0px);
            }
            to {
              transform: translateX(64px);
            }
          }
          .svg-icon {
            width: 40px;
            height: 64px;
            color: white;
          }
        }
        .tip-text {
          margin-bottom: 0px;
          margin-top: 17px;
        }
      }
    }
  }
}

.yto-box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  .search-form {
    .el-form-item {
      &.close-right {
        float: right;
      }
      .button-group {
        .el-button {
          width: 80px;
        }
      }
    }
  }
}
.yto-table {
  background-color: #fff;
  margin-bottom: 10px;
  .btn-group {
    padding: 10px 20px;
    border-bottom: 1px solid #ebeef5;
  }
  .el-pagination {
    padding: 20px;
    text-align: center;
  }
}

.yto-title {
  font-size: 16px;
  font-weight: 400;
  color: $purple;
  padding: 18px 12px 18px 22px;
  line-height: normal;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 12px;
    width: 2px;
    border-radius: 20%;
    background-color: $purple;
  }
}

// 菜单选中背景
// .el-menu-item.is-active {
//   background-color: $--color-primary !important;
// }
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
  outline: none;
  color: #303133;
  background-color: #e5e9f2 !important;
}

.el-menu--horizontal {
  border-bottom: 0;
}

.el-dialog__header {
  text-align: center;
  border-bottom: 1pt solid #ebeef5;
}

.btn-group {
  padding-bottom: 10px;
  text-align: right;
}

.clearfix {
  &:before,
  &:after {
    display: block;
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.yto-x-auto {
  overflow-x: auto;
  background: #f0f2f5;
}

.yto-x-hidden {
  overflow-x: hidden;
  background: #f0f2f5;
}

/* 过渡动画 */
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(0, 0, 0, 0.8);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(650px);
}

.btn16 .el-button--small {
  font-size: 16px;
}

.el-table th > .cell {
  color: #333;
  font-size: 14px;
}
.el-table .cell {
  font-size: 14px;
  color: #333;
}
.el-table__empty-text {
  font-size: 16px;
}

.myorder-container /deep/ {
  margin: 22px 0;
  background-color: #ffffff;
  .el-tabs__header {
    margin: 0 0 20px;
    height: 60px;
    line-height: 60px;
  }
  .el-tabs__item.is-active {
    font-weight: bold;
  }
  .el-input--small .el-input__inner {
    height: 40px;
    line-height: 40px;
  }
}

.page-box /deep/ {
  .el-pagination {
    text-align: center;
    margin: 20px 0;
  }
  .el-input--small .el-input__inner {
    height: 28px;
    line-height: 28px;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  &:before,
  &:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.content-pd {
  padding: 0px 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.introduce {
  padding: 12px 24px;
  font-size: 14px;
  border-left: 4px solid $--color-primary;
  opacity: 0.8;
  box-sizing: border-box;
  background-color: #F6F2F7;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    line-height: 1.2rem;
  }
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

@mixin redPrefix{
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}

.customRed {
  label {
    &:before {
      @include redPrefix
    }
  }
}

.title {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  font-size:14px;
  color: #5D5D5D;
  border-bottom: 1px solid #DDDDDD;
}
