//theme
$purple: #47086C;
$font-white: #A2A5AC;

//common
$white: #ffffff;
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg: #433466;
$subMenuBg: #433466;
$menuHover: #824C96;
